@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0vh;
  padding: 0vh;
}

body{
 font-family: 'Roboto', serif;
}

@media screen and (min-width: 769px){  
  header{
    height: 9vh;
    display: flex;
    background-color: #274015;
    justify-content:center;
    align-items: center;
  }

  .icon{
    display: flex;
    align-content: center;
    position: absolute;
    top: 1vh;
    left: 2vw;
    width: 5vh;
  }

  ul{
    display: flex;
    list-style-type: none;  
    align-content: center;
    justify-content: center;
  }

  li{
    display: flex;
    height: 7vh;
    width: 5vw;
    background-color: #403A1F;
    border: white 0.15vw solid;
    justify-content: center;
    align-items: center;
    padding: 0vh 1vw;
  }

  .homeButton{  
    position: absolute;
    left: 5vw;
  }

  .contactButton{
    position: absolute;
    right: 5vw;
  }

  .currentPage{
    background-color: black;
  }

  .nav-button>a:link{
    color: white;
    text-decoration: none;
  }

  a{
    color: blue;  
    text-decoration: underline;
  }

  a:visited{
    color: black;  
    text-decoration: underline;
  }

  a:hover, .nav-button>a:hover {
    color: lightblue;
    text-decoration: underline;
  }

  h1{
    margin: 3vh 0vh 5vh 0vh;  
    text-align: center;
    align-items: center;
  }

  h1, h2{
    color: #274015;
  }

  h2, p{
    position: relative;
    left: 10vh;
    margin: 0.25vh 0vh 0.25vh 0vh;
  }

  footer{
    background-color: #274015;
    color: white;
    height: 2.5vh;
    position: fixed;  
    bottom: 0vh;
    width: 100vw;
  }

  .cookies{
    width: 10vw;
    height: 6vh;
    position: fixed;
    bottom: 0vh;
    right: 0vh;
    z-index: 9999;
    border-style: solid;
    border-width: 0.25vw;
    border-color: black;
    letter-spacing: 0.05vh;
    line-height: 2vh;
    text-indent: 0.05vh;
    word-spacing: 1vh;
    background-color: #403A1F;
    font-size: 0.8rem;
    text-transform: uppercase;
    float: initial;
  }

  .cookies::first-letter{
    font-size: 1.5em;
  }

  .homepage{
    display: grid;
    grid-template-columns: 70% auto;
    margin: 2vh 0vh 2vh 0vh;
  }

  .homepage-last-line{
    display: flex;
  }

  .text{
    width: 50vw;
  }

  .pictures{
    width: 15vw;
  }

  .pic2{
    position: relative;
    right: 7.5vw
  }

  figure{
    display: grid;  
    justify-items: center;
  }

  figcaption{
    font-size: 0.8em;
  }

  .homepage-button{
    width: 10vw;
    position: relative;
    left: 6vw;
    margin-bottom: 2vh;
  }

  .page1-paragraph{  
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin: 3vh 0vh 3vh 0vh;
  }

  .leftPic{
    position: relative;
    left: 10vh;
  }

  .page1-text{
    width: 40vw;
  }

  .buttons{
    display: flex;
  }

  .left-button{
    width: 10vw;
    position: relative;
    left: 5vw;
    margin: 4vh;
  }

  .right-button{
    width: 10vw;
    position: relative;
    left: 62vw;
    margin: 4vh;
  }

  .page2-paragraph-top{
    display: grid;
    grid-template-columns: 70% auto;
  }

  .page2-text{
    width: 40vw;
  }

  .page2-paragraph-bottom{  
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: 7vh;
  }

  table{
    position: relative;
    left: 5vw;
    width: 10vw;
    text-align: center;
  }

  tr:first-child{
    background-color: gray;
  }

  tr:nth-child(odd){
    background-color: gray;
  }

  th, td{
    border: 0.3vh black solid;
  }

  .page3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    max-width: 100vw;
  }

  .page3-text{
    position: relative;
    right: 5vw;
    width: 50vw;
    margin-bottom: 2vh;
  }

  .page3-pic{
    width: 20vw;
  }

  .page3-buttons{
    display: flex;
    position: relative;
    left: 15vw;
  }

  .page3-button{
    width: 10vw;
    justify-content: space-between;
  }

  .page3-left-button{
    position: relative;
    right: 30vw;
  }

  .page3-right-button{
    position: relative;
    left: 5vw;
  }

  .page4{
    position: relative;
    left: 5vw;
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;  
    margin: -4vh 8vw 4vh 8vw;
  }

  .page4-pic{ 
    width: 15vw;
    margin: 2vh 0vh 2vh 0vh;
  } 

  .contact{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 5vw;
  }

  .contact-text{
    width: 80vw;
  }

  form{
    position: relative;
    left: 5vw;
    margin-top: 12vh;
    display:flex;
    flex-direction: column;
  }

  fieldset{
    padding: 1vw;
  }

  .radiobutton, .name, .email, .tel, .message{
    margin-bottom: 4vh;
  }

  #Mr, #Mrs, #Mr-example, #Mrs-example{
    margin-right: 3vw;
  }

  .name, .email, .tel, .message{
    display: flex;
    flex-direction: column;
  }

  #Name, #Email, #Tel, #Name-example, #Email-example, #Tel-example{
    width: 15vw;
  }

  #Message, #Message-example{
    width: 20vw;
  }

  .submit{
    width: 6vw;
    text-align: center;
  }

  .required{
    position: relative;
    bottom: 2.75vh;
    left: 7vw;
  }

  .line{
    border: 0.2vw solid black;
    height: 70vh;
  }

  .contact-buttons{
    display: flex;
    margin-bottom: 4vh;
  }

  .contact-caption{
    position: relative;
    left: 4.75vw;
  }

  .submitted-text{
    color: black;
  }

  .submitted-paragraph{
    width: 60vw;
    position: relative;
    left: 20vw;
    margin-top: 10vh;
  }

  .submitted-button{
    margin-top: 4vh;
    position: relative;
    left: 40vw;
    width: 20vw;
  }  

  .row-of-buttons, .mobile-pictures, .mobile-rightarrow, .mobile-leftarrow, .mobile-menu{
    display: none;
  }
}

@media screen and (max-width: 768px){

  .hompage-body{
    display: flex;
    flex-direction: column;
  }  

  header{    
    height: 6vh;
    display: flex;
    background-color: #274015;
    justify-content:center;
    align-items: center;
  }

  .cookies{
    width: 20vw;
    height: 6vh;
    position: fixed;
    bottom: 0vh;
    right: 0vh;
    z-index: 9999;
    border-style: solid;
    border-width: 0.5vw;
    border-color: black;
    letter-spacing: 0.05vh;
    line-height: 2vh;
    text-indent: 0.5vw;
    word-spacing: 1vh;
    background-color: #403A1F;
    font-size: 0.8rem;
    text-transform: uppercase;
    float: initial;
  }
  
  .cookies::first-letter{
    font-size: 1.5em;
  }

  footer{
    background-color: #274015;
    color: white;
    height: 2vh;
    position: fixed;  
    bottom: 0vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .currentPage{
    display: flex;
    height: 4vh;
    width: 8vw;
    background-color: black;
    border: white 0.5vw solid;
    justify-content: center;
    align-items: center;
    padding: 0vh 4vh;
  }

  li, .icon{
    display:none;
  }

  .nav-button>a:link{
    color: white;
    text-decoration: none;
  }

  a{
    color: blue;  
    text-decoration: underline;
  }

  a:visited{
    color: black;  
    text-decoration: underline;
  }

  a:hover, .nav-button>a:hover{
    color: lightblue ;
    text-decoration: underline;
  }

  h1, h2{
    color: #274015;
  }

  h1{
    text-align: center;
    margin: 2vh 0vh 2vh 0vh;
  }

  h2{
    margin-bottom: 2vh;
  }

  .text{
    width: 80vw;
    margin-bottom: 2vh;
  }

  .homepage{
    display: grid;
    justify-items: center;
    margin-bottom: 2vh;
  }

  .pictures{
    width: 30vw;
  }

  figure{
    display: grid;  
    justify-items: center;
  }

  figcaption{
    font-size: 0.8em;
  }

  .homepage-last-line{
    text-align: center;
    margin-bottom: 2vh;
  }

  .homepage-button{
    width: 20vw;
    margin-top: 3vh;
  }

  .page1-paragraph{
    display: grid;
    justify-items: center;
  }

  .page1-text{
    width: 80vw;
  }

  .mobile-group{
    display: flex;
    justify-content: space-between;
  }

  .pc-pic, .line, .example-form{
    display: none;
  }

  .mobile-pictures{
    width: 50vh;
    display: flex;
    justify-content: space-between;
    margin: 2vh 0vh 2vh 0vh;
  }

  .left-button, .right-button{
    width: 10vw;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 1vh 0vh 3vh 0vh;
  }

  .page2-text{
    width: 80vw;
    margin-bottom: 5vh;
  }

  .page2-paragraph-top{
    display: grid;
    justify-items: center;
    margin: 5vh 0vh 5vh 0vh;
  }

  .page2-paragraph-bottom{
    display: flex;
    margin-left: 2vw;
  }

  table{
    text-align: center;
    margin-right: 2vw;
  }

  tr:first-child{
    background-color: gray;
  }

  tr:nth-child(odd){
    background-color: gray;
  }

  th, td{
    border: 0.3vw black solid;
  }

  .page2-buttons{
    position: relative;
    left: 25vw;
  }

  .page3{  
    display: grid;
    justify-items: center;
  }

  .page3-text{
    width: 80vw;
    margin-bottom: 2vh;
  }

  .page3-buttons-mobile{
    display: flex;
    width: 80vw;
    margin-bottom: 7vh;
  }

  .page3-button{
    width: 10vw;
  }

  .page3-right-button{
    position: relative;
    left: 45vw;
  }

  .page4{  
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
  }

  .page4-pic{
    margin: 2vh 2vw 2vh 2vw;
    width: 25vw;
  }

  .page4-buttons{
    position: relative;
    left: 25vw;
  }

  .contact-text{
    width: 80vw;
    position: relative;
    left: 12vw;
    margin-bottom: 5vh;
  }

  form{
    margin-left: 12vw;
  }

  fieldset{
    padding: 1vh;
    max-width: 50vw;
  }

  .radiobutton, .name, .email, .tel, .message{
    margin-bottom: 2vh;
  }

  #Mr, #Mrs{
    margin-right: 5vw;
  }

  .name, .email, .tel, .message{
    display: flex;
    flex-direction: column;
  }

  #Name, #Email, #Tel{
    width: 25vw;
  }

  #Message, #Message-example{
    width: 50vw;
  }

  .submit{
    width: 10vw;
    margin-bottom: 2vh;
  }

  .contact-buttons{
    margin-top: 4vh;
    position: relative;
    left: 7vw;  
    display: flex;
    max-width: fit-content;
  }

  .contact-figure{
    width: 20vw;
  }

  .submitted-paragraph{
    width: 80vw;
    margin-top: 5vh;
    position: relative;
    left: 12vw;
    color: black;
  }

  .submitted-button{
    width: 60vw;
    position: relative;
    left: 20vw;
    margin-top: 5vh;
  }

  .row-of-buttons{
    margin-top: 5vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .mobile-button{
    width: 10vw;
    margin: 3vw;
  }

  .mobile-rightarrow{
    width: 5vw;
    position: relative;
    left: 4vw;
  }

  .mobile-leftarrow{
    width: 5vw;
    position: relative;
    right: 4vw;
  }

  .mobile-menu{
    width: 5vw;
    position: relative;
    right: 20vw;
  }
}
